Localization
{
    en-us
    {
        #LOC_tantares_andromeda_airlock_s0_1 = Andromeda Size 0 Airlock
        #LOC_tantares_andromeda_airlock_s0_1_description = Airlocks don't need to be so huge (well, they do, but they don't have to start that way). This airlock can inflate to allow crew egress, and deflate for a compact form-factor. 
        #LOC_tantares_andromeda_airlock_s0_1_tags = andromeda vostok voskhod zenit

        #LOC_tantares_andromeda_avionics_s1_1 = Andromeda Size 1 Control Block
        #LOC_tantares_andromeda_avionics_s1_1_description = 
        #LOC_tantares_andromeda_avionics_s1_1_tags = andromeda vostok voskhod zenit

        #LOC_tantares_andromeda_crew_s1_1 = Andromeda 12-A "Ildkule" Crew Capsule
        #LOC_tantares_andromeda_crew_s1_1_description = Getting into space for the first time is never easy, but it doesn't have to be uncomfortable for the would-be 'nauts. This capsule is both spacious and air-conditioned.
        #LOC_tantares_andromeda_crew_s1_1_tags = andromeda vostok voskhod zenit

        #LOC_tantares_andromeda_crew_s1_2 = Andromeda 12-B "Rullendeluft" Crew Capsule
        #LOC_tantares_andromeda_crew_s1_2_description = If it works for one occupant, why not for one extra? A slightly enhanced spherical crew capsule.
        #LOC_tantares_andromeda_crew_s1_2_tags = andromeda vostok voskhod zenit

        #LOC_tantares_andromeda_control_core_s1_1 = Andromeda 12-A "Storsjef" Control Block
        #LOC_tantares_andromeda_control_core_s1_1_description = Photography is the life blood of any espi... space program. This spherical module has both the cameras and the means to return the photos safely.
        #LOC_tantares_andromeda_control_core_s1_1_tags = andromeda vostok voskhod zenit

        #LOC_tantares_andromeda_decoupler_s0p5_1 = Andromeda Size 0.5 Decoupler
        #LOC_tantares_andromeda_decoupler_s0p5_1_description = A crude, no-nonsense, decoupler. Includes lines for fuel crossfeed.
        #LOC_tantares_andromeda_decoupler_s0p5_1_tags = andromeda vostok voskhod zenit

        #LOC_tantares_andromeda_engine_s0_1 =  Andromeda S5.4 Rocket Engine
        #LOC_tantares_andromeda_engine_s0_1_description = Sometimes it's not a bad idea to have a backup engine, this is that.
        #LOC_tantares_andromeda_engine_s0_1_tags = andromeda vostok voskhod zenit

        #LOC_tantares_andromeda_engine_s1_1 = Andromeda TDU-1 Integrated Engine Module
        #LOC_tantares_andromeda_engine_s1_1_description = A complete engine assembly, including a S5.4 rocket engine, and orientation jets. 
        #LOC_tantares_andromeda_engine_s1_1_tags = andromeda vostok voskhod zenit

        #LOC_tantares_andromeda_parachute_s0_1 = Andromeda Size 0 Parachute
        #LOC_tantares_andromeda_parachute_s0_1_description = Descending safely from orbit? Parachutes have been around for a while, but haven't been used in this capacity before.
        #LOC_tantares_andromeda_parachute_s0_1_tags = andromeda vostok voskhod zenit

        #LOC_tantares_andromeda_gyro_s1_1 = Andromeda Size 1 Gyroscope
        #LOC_tantares_andromeda_gyro_s1_1_description = The key to taking a good photograph is a steady pair of hands. Spacecraft don't have hands, but they still wobble, this attitude controlling gyroscope should help with that.
        #LOC_tantares_andromeda_gyro_s1_1_tags = andromeda vostok voskhod zenit

        #LOC_tantares_andromeda_sphere_fuel_tank_srf_1 = Andromeda Sphere Fuel Tank A
        #LOC_tantares_andromeda_sphere_fuel_tank_srf_1_description = What's the most efficient way to hold the largest volume of liquid possible? Please send answers, we don't know.
        #LOC_tantares_andromeda_sphere_fuel_tank_srf_1_tags = andromeda vostok voskhod zenit

        #LOC_tantares_andromeda_sphere_fuel_tank_srf_2 = Andromeda Sphere Fuel Tank B
        #LOC_tantares_andromeda_sphere_fuel_tank_srf_2_description = A "super" variant of the standard Andromeda fuel tank, twice the size!
        #LOC_tantares_andromeda_sphere_fuel_tank_srf_2_tags = andromeda vostok voskhod zenit

        #LOC_tantares_andromeda_low_gain_antenna_srf_1 = Andromeda Low Gain Antenna
        #LOC_tantares_andromeda_low_gain_antenna_srf_1_description = A (very) simple radio antenna, that can be jettisoned in flight.
        #LOC_tantares_andromeda_low_gain_antenna_srf_1_tags = andromeda vostok voskhod zenit
    }
}